{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
	<h2 class="pagetitle">INSERT TITLE HERE</h2>
	
	<p class="description">
		{% placeholder content_description with TextInput %}
	</p>
	
	{% placeholder "body_references" or %}There is no content.{% endplaceholder %}
	{% placeholder "body_attachments" with FileBrowseInput or %}
		There is no content.
	{% endplaceholder %}
	{% placeholder "body_also" or %}There is no content.{% endplaceholder %}
{% endblock %}


wierd

weird

